set_io -nowarn clk_12mhz 35
set_io -pullup yes RST_N 10

set_io -nowarn leds[0]    21
set_io -nowarn leds[1]    23
set_io -nowarn leds[2]    25
set_io -nowarn leds[3]    26
set_io -nowarn leds[4]    27
